extends layout

block content
  #top-controls
  #room-title Living Room
  #wrapper

    //h2 Living Room light on.
      br 
      |2 fans on.
    h3 Scenes
    #scenes-wrapper
      #scenes
        .action.scene
          .title Full Light
        .action.scene.inactive 
          .title Dim Lights
        .action.scene.inactive
          .title Full Light
        .action.scene.inactive 
          .title Dim Lights
    h3 Accessories
    #accessories
      .action.accessory
        .room Bedroom
        .name Floor Lamp
        .status On
      .action.accessory.inactive
        .room Bedroom
        .name Wall Lamp
        .status Off