extends layout

block content
  .room-wrapper(v-for='(id, room) in server.rooms', room='{{room}}')
    .top-controls
      .button(v-on:click='toggleRoomPicker()')
      .room-title-small.hidden {{room}}
      .button.right
      .button.right.edit
    .room-title {{room}}
    .scroll(room='{{room}}')
      .wrapper
        //h2 Living Room light on.
          br 
          |2 fans on.
        h3 Scenes
        .scenes-wrapper
          .scenes
            .action.scene
              .title Full Light Really Long
            .action.scene.inactive 
              .title Dim Lights
            .action.scene.inactive
              .title Kitchen Ready
            .action.scene.inactive 
              .title Bathroom Off
            .action.scene.inactive
              .title Outside Lights
        h3 Accessories
        .accessories
          .action.accessory(v-for='device in server.devices | filterBy id in "locationId"', v-bind:class="{ 'inactive': !device.on }", v-on:click="toggleDevice($key)")
            .label
              .room {{device.location}}
              .name {{device.name}}
              .status {{device.on ? 'On' : 'Off'}}
          .action.accessory(v-for='device in server.devices | filterBy id in "locationId"', v-bind:class="{ 'inactive': !device.on }", v-on:click="toggleDevice($key)")
            .label
              .room {{device.location}}
              .name {{device.name}}
              .status {{device.on ? 'On' : 'Off'}}
          .action.accessory(v-for='device in server.devices | filterBy id in "locationId"', v-bind:class="{ 'inactive': !device.on }", v-on:click="toggleDevice($key)")
            .label
              .room {{device.location}}
              .name {{device.name}}
              .status {{device.on ? 'On' : 'Off'}}
          .action.accessory(v-for='device in server.devices | filterBy id in "locationId"', v-bind:class="{ 'inactive': !device.on }", v-on:click="toggleDevice($key)")
            .label
              .room {{device.location}}
              .name {{device.name}}
              .status {{device.on ? 'On' : 'Off'}}
      .room-picker(v-if='showRoomPicker')
        li(v-for='(id, room) in server.rooms')
          a(v-on:click="setRoom(id)") {{room}}