extends layout

block content
  .room-wrapper(v-for='(id, room) in server.rooms', room='{{room.name}}') 
    //, v-bind:style="{ backgroundImage: 'url(/images/rooms/' + room.filename + '.jpg),' + 'url(/images/rooms/' + room.filename + '.png)' }")
    .top-controls
      .button(v-on:click='toggleRoomPicker()')
      .room-title-small.hidden {{room.name}}
      .button.right
      .button.right.edit
    .room-title {{room.name}}
    .scroll
      .wrapper
        //h2 Living Room light on.
          br 
          |2 fans on.
        h3 Scenes
        .scenes-wrapper
          .scenes
            .action.scene(v-for='sceneId in room.scenes', v-bind:class="{ 'inactive': !server.scenes[sceneId].on }", v-on:click="toggleScene(sceneId)", idx="{{sceneId}}")
              .title {{server.scenes[sceneId].name}}
        h3 Accessories
        .accessories
          .action.accessory(v-for='device in server.devices | filterBy id in "location.id"', v-bind:class="{ 'inactive': !device.on }", v-on:click="toggleDevice($key)")
            .label
              .room {{device.location.name}}
              .name {{device.name}}
              .status {{device.on ? 'On' : 'Off'}}