doctype html
html
  head
    base(href="/")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    script(src='javascripts/jquery-3.1.0.min.js')
    title Home Mockup
    link(rel='stylesheet', href='/css/main.css')
  body
    block content
    script.
      var square = ($('#wrapper').width()-30)/3;
      var gutter = $('#wrapper').width()*(5/345);
      console.log('square calc as %s', square);
      $('.action.accessory').width(square).height(square).css('margin-right',gutter,'margin-left',gutter,'margin-bottom',gutter*2);
      $('.action.scene').width(square*2+gutter*2).height(gutter*12).css('margin-right',gutter,'margin-left',gutter,'margin-bottom',gutter*2);      
      $('.action').click(function(){
        $(this).toggleClass('inactive');
        if($(this).hasClass('inactive')){
          console.log('Inactive');
          $(this).children('.status').text('Off');
        } else {
          console.log('Active');
          $(this).children('.status').text('On');
        }
      });