doctype html
html
  head
    base(href="/")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    
    title Home Mockup
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
  body#app
    #options.hidden
      .menu-wrapper
        .menu
          .option(v-for='(id, room) in server.rooms', v-on:click='setRoom(id)') {{room.name}}
            .select(v-show='currentRoom == id')
              i.fa.fa-check 
          .option.cancel(v-on:click='toggleRoomPicker()') Cancel
    #big-control.hidden
      .big-control-wrapper
        img(v-bind:src='getDeviceIcon(bigDevice.idx)')
        .status {{getReadableStatus(bigDevice, true)}}
        .switch
          .toggle(v-on:click="toggleDevice(bigDevice.idx)",v-bind:class="{ 'off': !bigDevice.on }")
    #container
      block content
      script(src='javascripts/min/app-min.js')
    //script(src='javascripts/scrollsnap-polyfill.bundled.js')