@font-face {
  font-family: "San Fransisco";
  src: url("/fonts/San Francisco Display Regular.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: "San Fransisco";
  src: url("/fonts/San Francisco Display Bold.ttf") format("truetype");
  font-weight: bold; }
::-webkit-scrollbar {
  display: none; }

body {
  font-family: "San Fransisco";
  font-weight: bold;
  color: white;
  margin: 0 0 0 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-attachment: fixed;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

#container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-scroll-snap-type: mandatory;
      -ms-scroll-snap-type: mandatory;
          scroll-snap-type: mandatory;
  -webkit-scroll-snap-points-x: repeat(100%);
      -ms-scroll-snap-points-x: repeat(100%);
          scroll-snap-points-x: repeat(100%);
  -webkit-overflow-scrolling: touch; }

.room-wrapper {
  width: 100%;
  height: 100%;
  padding-top: 32px;
  position: relative;
  display: inline-block;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("/images/rooms/default.png"); }

.scroll {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  border-top: 0px solid; }
  .scroll.border {
    border-top: 1px solid #A29A92; }

.wrapper {
  position: absolute;
  top: 0px;
  left: 15px;
  right: 15px;
  bottom: 0;
  padding-top: 90px; }
  .wrapper .summary {
    padding-top: 80px; }

.room-title {
  font-size: 2.5em;
  margin: 15px 0 0 20px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  opacity: 1;
  position: relative;
  top: 0; }
  .room-title.hidden {
    opacity: 0;
    top: -4px; }

h2 {
  font-size: 1.5em;
  margin: 0 0;
  margin-left: 5px; }

h3 {
  font-size: 1em;
  margin: 6px 0 0;
  margin-left: 5px; }

.top-controls {
  height: 30px;
  width: auto;
  opacity: 50%;
  padding: 0 17px;
  line-height: 30px; }
  .top-controls .button {
    -webkit-backdrop-filter: blur(15px);
    display: inline-block;
    height: 30px;
    width: 30px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    margin: 0 12px 0 0;
    cursor: pointer; }
    .top-controls .button.right {
      margin: 0 0 0 12px;
      float: right; }
    .top-controls .button.edit {
      width: 72px; }
    .top-controls .button:hover {
      background-color: rgba(242, 242, 242, 0.8); }
    .top-controls .button img {
      height: 12px;
      width: auto;
      display: block;
      margin: 9px auto 0px; }
  .top-controls .room-title-small {
    display: inline-block;
    vertical-align: top;
    min-width: 40px;
    height: 30px;
    line-height: 30px;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    opacity: 1;
    position: relative;
    top: 0; }
    .top-controls .room-title-small.hidden {
      opacity: 0;
      top: 4px; }

.scenes-wrapper {
  margin-left: -20px;
  width: calc(100% + 40px);
  max-height: 200px;
  margin-bottom: 25px;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-scroll-snap-type: mandatory;
      -ms-scroll-snap-type: mandatory;
          scroll-snap-type: mandatory;
  -webkit-scroll-snap-points-x: repeat(230px);
      -ms-scroll-snap-points-x: repeat(230px);
          scroll-snap-points-x: repeat(230px);
  scroll-snap-padding: 0 0 0 15px;
  -webkit-overflow-scrolling: touch; }

.scenes {
  width: 800px;
  height: 140px;
  max-height: 160px;
  margin: 0 20px;
  white-space: normal; }

.accessories {
  width: 100%;
  max-width: 100%;
  white-space: normal; }

.action {
  background: white;
  border-radius: 10px;
  margin: 1.4492753623%;
  color: black;
  display: inline-block;
  -webkit-transition: all 0.03s;
  transition: all 0.03s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer; }
  .action.inactive {
    -webkit-backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.8);
    color: #595959; }
    .action.inactive .status {
      color: #8c8c8c; }
    .action.inactive:hover {
      background-color: rgba(242, 242, 242, 0.8); }

.accessory {
  width: 30.4347826087%;
  padding-bottom: 30.4347826087%;
  font-size: 0.85em;
  position: relative; }
  @media screen and (min-width: 420px) and (max-width: 515px) {
    .accessory {
      width: 22.8260869565%;
      padding-bottom: 22.8260869565%;
      margin: 1.0869565217%; } }
  @media screen and (min-width: 516px) and (max-width: 611px) {
    .accessory {
      width: 18.2608695652%;
      padding-bottom: 18.2608695652%;
      margin: 0.8695652174%; } }
  @media screen and (min-width: 612px) and (max-width: 707px) {
    .accessory {
      width: 15.2173913043%;
      padding-bottom: 15.2173913043%;
      margin: 0.7246376812%; } }
  @media screen and (min-width: 708px) and (max-width: 803px) {
    .accessory {
      width: 13.0434782609%;
      padding-bottom: 13.0434782609%;
      margin: 0.6211180124%; } }
  @media screen and (min-width: 804px) and (max-width: 899px) {
    .accessory {
      width: 11.4130434783%;
      padding-bottom: 11.4130434783%;
      margin: 0.5434782609%; } }
  @media screen and (min-width: 900px) and (max-width: 995px) {
    .accessory {
      width: 10.1449275362%;
      padding-bottom: 10.1449275362%;
      margin: 0.4830917874%; } }
  @media screen and (min-width: 996px) and (max-width: 1091px) {
    .accessory {
      width: 9.1304347826%;
      padding-bottom: 9.1304347826%;
      margin: 0.4347826087%; } }
  @media screen and (min-width: 1092px) and (max-width: 1187px) {
    .accessory {
      width: 8.3003952569%;
      padding-bottom: 8.3003952569%;
      margin: 0.395256917%; } }
  @media screen and (min-width: 1188px) and (max-width: 10000000px) {
    .accessory {
      width: 7.6086956522%;
      padding-bottom: 7.6086956522%;
      margin: 0.3623188406%; } }
  @media screen and (max-width: 340px) {
    .accessory {
      font-size: 0.75em; } }
  .accessory .label {
    position: absolute;
    bottom: 7px;
    max-width: 100%; }
    .accessory .label .room, .accessory .label .name, .accessory .label .status {
      margin-left: 10px;
      margin-right: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .accessory .label .room {
      margin-top: 50px; }
    .accessory .label .status {
      color: #737373; }
  .accessory .icon {
    position: absolute;
    top: 10px; }
    .accessory .icon img {
      height: 26px;
      width: auto;
      margin-left: 10px; }

.scene {
  width: 220px;
  height: 60px;
  font-size: 1.2em;
  line-height: 60px;
  margin-right: 5px;
  margin-left: 5px;
  -webkit-scroll-snap-coordinate: 0% 0%; }
  .scene .title {
    display: inline-block;
    max-width: calc(90% - 50px);
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top; }
  .scene .icon {
    width: 55px;
    display: inline-block; }
    .scene .icon img {
      display: block;
      height: 26px;
      width: auto;
      margin: 15px auto 0; }

#options {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  -webkit-transition: background-color 0.2s, top 0s;
  transition: background-color 0.2s, top 0s; }
  #options.hidden {
    background-color: transparent;
    top: 15000px;
    -webkit-transition: background-color 0.2s, top 0s linear 0.2s;
    transition: background-color 0.2s, top 0s linear 0.2s; }
    #options.hidden .menu-wrapper .menu {
      -webkit-transform: translateY(110%);
              transform: translateY(110%); }
  #options .menu-wrapper {
    position: absolute;
    bottom: 0px;
    height: auto;
    width: 100%; }
    #options .menu-wrapper .menu {
      position: relative;
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      -webkit-transition: 0.25s ease;
      transition: 0.25s ease;
      width: 100%;
      max-width: 420px;
      margin: 0 auto; }
      #options .menu-wrapper .menu .option {
        font-size: 1.2em;
        margin: 0 7px;
        text-align: center;
        height: 55px;
        line-height: 55px;
        background-color: rgba(255, 255, 255, 0.9);
        box-sizing: border-box;
        border-bottom: 1px solid #bfbfbf;
        color: #A60000;
        font-weight: normal;
        cursor: pointer; }
        #options .menu-wrapper .menu .option .select {
          position: absolute;
          display: inline-block;
          right: 25px; }
        #options .menu-wrapper .menu .option:hover {
          background-color: rgba(230, 230, 230, 0.9); }
        #options .menu-wrapper .menu .option.cancel {
          font-weight: bold;
          margin: 7px;
          border-radius: 10px;
          background-color: white; }
          #options .menu-wrapper .menu .option.cancel:hover {
            background-color: #e6e6e6; }
        #options .menu-wrapper .menu .option:first-of-type {
          border-radius: 10px 10px 0 0; }
        #options .menu-wrapper .menu .option:nth-last-of-type(2) {
          border-radius: 0 0 10px 10px;
          border-bottom: 0px solid; }
