@font-face {
  font-family: "San Fransisco";
  src: url("/fonts/San Francisco Display Regular.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: "San Fransisco";
  src: url("/fonts/San Francisco Display Bold.ttf") format("truetype");
  font-weight: bold; }
body {
  font-family: "San Fransisco";
  font-weight: bold;
  color: white;
  margin: 0 0 0 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: green;
  background-size: cover;
  background-attachment: fixed;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-scroll-snap-type: mandatory;
  -webkit-scroll-snap-points-x: repeat(100%); }

#container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-scroll-snap-type: mandatory;
  -webkit-scroll-snap-points-x: repeat(100%); }

.room-wrapper {
  width: 100%;
  height: 100%;
  padding-top: 32px;
  position: relative;
  display: inline-block;
  margin: 0; }

.scroll {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  border-top: 0px solid; }
  .scroll.border {
    border-top: 1px solid #A29A92; }

.wrapper {
  position: absolute;
  top: 0px;
  left: 15px;
  right: 15px;
  bottom: 0;
  padding-top: 90px; }
  .wrapper .summary {
    padding-top: 80px; }

.room-title {
  font-size: 2.5em;
  margin: 15px 0 0 20px;
  transition: all 0.25s;
  opacity: 1;
  position: relative;
  top: 0; }
  .room-title.hidden {
    opacity: 0;
    top: -4px; }

h2 {
  font-size: 1.5em;
  margin: 0 0;
  margin-left: 5px; }

h3 {
  font-size: 1em;
  margin: 6px 0;
  margin-left: 5px; }

.top-controls {
  height: 30px;
  width: auto;
  opacity: 50%;
  padding: 0 17px;
  line-height: 30px; }
  .top-controls .button {
    -webkit-backdrop-filter: blur(20px);
    display: inline-block;
    height: 30px;
    width: 30px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    margin: 0 12px 0 0; }
    .top-controls .button.right {
      margin: 0 0 0 12px;
      float: right; }
    .top-controls .button.edit {
      width: 72px; }
  .top-controls .room-title-small {
    display: inline-block;
    vertical-align: top;
    min-width: 40px;
    height: 30px;
    line-height: 30px;
    transition: all 0.25s;
    opacity: 1;
    position: relative;
    top: 0; }
    .top-controls .room-title-small.hidden {
      opacity: 0;
      top: 4px; }

.scenes-wrapper {
  margin-left: -20px;
  padding-left: 20px;
  width: 120vw;
  max-height: 200px;
  margin-bottom: 25px;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-scroll-snap-type: mandatory;
  -webkit-scroll-snap-points-x: repeat(230px);
  -webkit-scroll-snap-padding: 0 0 0 15px; }

.scenes {
  width: 800px;
  padding-right: 60px;
  max-height: 130px;
  white-space: normal; }

.accessories {
  width: 100%;
  max-width: 100%;
  white-space: normal; }

.action {
  background: white;
  border-radius: 10px;
  margin-right: 1.4492753623%;
  margin-left: 1.4492753623%;
  margin-bottom: 10px;
  color: black;
  display: inline-block;
  transition: all 0.03s; }
  .action.inactive {
    -webkit-backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.6);
    color: #4d4d4d; }
    .action.inactive .status {
      color: #737373; }

.accessory {
  width: 30.4347826087%;
  padding-bottom: 30.4347826087%;
  font-size: 0.85em;
  position: relative; }
  .accessory .label {
    position: absolute;
    bottom: 10px;
    max-width: 100%; }
    .accessory .label .room, .accessory .label .name, .accessory .label .status {
      margin-left: 10px;
      margin-right: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .accessory .label .room {
      margin-top: 50px; }
    .accessory .label .status {
      color: gray; }

.scene {
  width: 220px;
  height: 60px;
  font-size: 1.2em;
  line-height: 60px;
  margin-right: 5px;
  margin-left: 5px;
  -webkit-scroll-snap-coordinate: 0% 0%; }
  .scene .title {
    margin-left: 55px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
